<h1>Meal Diary</h1>

<% @entries.each do |entry| %>
<h3> date: <%= entry.created_at %> </h3>
<h3><%= link_to entry.name, entry_path(entry) %></h3>
<p> description: <%= entry.description %> </p>
<p> location: <%= entry.location %> </p>
<p><%= link_to "Delete", entry_path(entry),
  method: :delete,
  data: { confirm: "Are you sure?" } %> |
<%= link_to "Edit", edit_entry_path(entry) %> </p>
<p>*******************************</p>
<% end %>

<%= link_to "Add Meal", new_entry_path %>
